{% extends "base.html" %}

{% block title %}
    Add Recipe
{% endblock title %}

{% block recipe_link %}
    <li class="active"><a href="recipes">Add Recipe</a></li>
{% endblock recipe_link %}
{% block content %}
    <div ng-controller="RecipeController">
        <form class="form-inline">
            <input type="recipe-title" type="text" class="form-control" ng-model="recipe.name" placeholder="Name"/><br/>
            <input type="recipe-title" type="text" class="form-control" ng-model="recipe.description" placeholder="Description"/><br/>
            <input type="recipe-title" type="text" class="form-control" ng-model="recipe.link" placeholder="Link"/><br/>
            <input type="recipe-title" type="text" class="form-control" ng-model="recipe.prep_time" placeholder="Prep Time"/><br/>
            <input type="recipe-title" type="text" class="form-control" ng-model="recipe.instruction" placeholder="Instruction"/><br/>
            <input type="recipe-title" type="text" class="form-control" ng-model="recipe.temp" placeholder="Temp"/><br/>
            <input type="recipe-title" type="text" class="form-control" ng-model="recipe.time" placeholder="Cook Time"/><br/>
            <input type="recipe-title" type="text" class="form-control" ng-model="recipe.serv_size" placeholder="Serving Size"/><br/>
            </br>
            <select type = "text" ng-model="selectedTag" ng-options="tags.pk as tag.fields.name for tag in tags"></select>
            </br>
            </br>
            </br>
            <button id="add-btn" class="btn btn-success" ng-click="addRecipe(recipe);">Add</button>
        </form>
    </div>
{% endblock content %}