{% extends "base.html" %}

{% block title %}
    Add Recipe
{% endblock title %}

{% block recipe_link %}
    <li class="active"><a href="recipes">Add Recipe</a></li>
{% endblock recipe_link %}

{% block content %}
    <div class="add-recipe-table-background">
        <form method="post" action="{{ action }}">
            {% csrf_token %}

            <h4>Add Recipe Item</h4>

            <div class="spacersmall-bottom"></div>

            {% for field in form %}
                {% if 'User' in field.label_tag %}
                    {{ field.as_hidden }}
                {% elif 'Public recipe' in field.label_tag %}
                    <div class="spacersmall-top"></div>
                    {{ field.label_tag }}{{ field }}
                    <div class="spacersmall-bottom"></div>
                {% else %}
                    {{ field }}
                    {{ field.errors }}
                {% endif %}
            {% endfor %}

            <button id="add-btn" class="btn btn-success" type="submit">Add Recipe</button>
        </form>
    </div>
{% endblock content %}

{% block extra_js %}
    <script type="application/javascript">
        toastr.options = {
            "positionClass": "toast-top-center"
        };
        {% if message %}
            toastr.success('{{ message | safe}}');
        {% elif error_message %}
            toastr.error('{{ error_message | safe }}');
        {% elif request.session.message %}
            toastr.success('{{ request.session.message }}');
        {% endif %}
    </script>
{% endblock extra_js %}